.clickable {
    cursor: pointer;
}
.home-logo {
    float: left;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
}
.nav-logo{
    height: 100%;
}

.fanav {
    width: 14px;
    text-align: right;
}
.navbar-right{
    margin-right: 15px;
}
.navbar{
    font-size: larger;
    font-weight: 900;
    background-color: #c70303;
    border-color: #200000
}
.navbar-default .navbar-nav>li>a {
    color: #eee;
}
.pthumb {
                border-radius: 50%;
                overflow: hidden;
                width: 150px;
                height: 150px;
                float: right;
                background-color: transparent;
            }
.pthumb img {
                display: block;
                min-width: 100%;
                min-height: 100%;
            }
.cbthumb{
                width: 45px;
                height: 150px;
                float: right;
                background-color: transparent;
    
}
.cbthumb img {
                display: block;
                min-width: 100%;
                min-height: 100%;
            }
.mthumb {
                float: right;
            }
.pname{
    display: block;
    font-size: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family:monospace;
}
.textclip{
    display: block;
    height: 80px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollw-y{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 0px;
    overflow-y: auto;
}
.cart-body{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    top: 46px;
    overflow-y: auto;
}
.cart-btn {
    position: fixed;
    top: 10rem;
    right: 1.75rem;
    border: none;
    z-index: 1049;
    color: #fff
}
.cart{
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: auto;
    overflow: hidden;
    width: 350px;
    border: none;
    z-index: 1051;
}
@media(max-width:350px) {
    .cart {
    width: 320px;
}
}
.cart-table>tbody>tr>td{
    min-width: 6em;
}
.cart-table>tbody>tr>td>form{
    float: right;
}
.cart-table>tbody>tr>td>form>button{
    padding-left: 0px;
    padding-right: 0px;
}
.panel-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.cart-status{
    font-size: 2em;
    color: #fff;
    top: -.8em;
}
.tp-content{
  background-color: #333;
  color: #fff;
}
.iccon{
    padding: 5px;
}
.addcard{
    padding: 5px;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 5px;
}
.itemcard{
    background-color: #151515;
    border: 0px solid #111;
    height: 160px;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}
.itemcard>button{
    position: absolute;
    top: 5px;
    right: 5px;
}
.itemcard>button>div{
    position: absolute;
    top:0;bottom:0;left:0;right:0;
}
.prod-price{
    padding-left: 3px
}
.buy-form{
    position: absolute;
    bottom: 5px;
    padding-right: 15px;
}
.buy-form>button{

    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    background-color: #f9cd11;
    color: #000;;
    font-weight: bold;
}
.cust-btn{
    background-color: #f9cd11;
    color: #000
}
.tag{
    background-color: #f9cd11;
    position: absolute;
    width: 33%;
    min-width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;left: 1%;
    padding-left: 15px;
    padding-top: 5px;
    height: 30px;
    border-radius: 10px;
}
.tag-c{
    margin-top: 40px;
}
.address{
    width: 100%;
}
.height-100{
    position: absolute;
    top: 5px;
    bottom: 5px;
    height: auto;
}
.pull-down{
    position: absolute;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
}
.add-options{
    min-width: 250px;
    z-index: 100;
    right: 10px;
}
.add-text{
    min-width: 200px;
}
.add-map{
    min-width: 230px;
    float: right;
}
.add-field{
    width: 5em;
    display: inline-block;
}
.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer-li{
    float: left;
    padding: 15px;
}
#new_map {
    width: 90%;
    height: 285px;
    }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cs-footer{
    background-color: #f8f8f8;
    border-top-style: solid;
    border-top-width : 1px;
    border-color: #e7e7e7;
    }
.alert{
    position: fixed;
    bottom: 1.75rem;
    right: 1.75rem;
    overflow: hidden;
    border: none;
    z-index: 1048;
    font-weight: bolder;
    font-size: xx-large;
    color: #fff;
    background-color: rgba(242, 222, 222, 0.32);
}
.top-bar{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: -5px;
}
.top-bar>div>a{
    text-decoration: none;
    color: #ddd;
}
.top-bar>div>a:hover{
    color: #111;
}
body {
    margin-top: 61px;
    margin-bottom: 100px;
    background-color: #980211;
    color: #000;
}
html {
position: relative;
min-height: 100%;
}