.modal-header>button{
    color: #fff;
    opacity: 1;
}
.tp-selector input{
    margin:0;padding:0;float:left;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.tp-main{
  max-width: 400px;
  margin: auto;
}

.tp-selector input:active +.base-size, .tp-selector input:active +.tp-card{
    opacity: .9;
}
.tp-selector input:checked +.base-size{
    -webkit-filter: brightness(.8) grayscale(.2) opacity(.9);  -card
     -moz-filter: brightness(.8) grayscale(.2) opacity(.9);
            filter: brightness(.8) grayscale(.2) opacity(.9);
            background-image: url("img/sel2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #337ab7;
    color: #fff;
}
.tp-selector input:checked +.tp-card{
    -webkit-filter: brightness(.8) grayscale(.2) opacity(.9);  -card
     -moz-filter: brightness(.8) grayscale(.2) opacity(.9);
            filter: brightness(.8) grayscale(.2) opacity(.9);
            background-image: url("img/sel2.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.tp-card{
    cursor:pointer;
    background-size:contain;
    display:inline-block;
/*    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;*/
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.tp-card:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.tp-card{
    border-radius: 3px;
    width: 100%;
    text-align: center;
    display: inline-flex;
}
.tp-card-vt{
    background-color: #090;
    height: 36px;
}
.tp-card-nvt{
    background-color: #900;
    height: 36px;
}
.tp-card-c{
    padding: 0px;
    padding-right: 4px;
}
.base-size{
    background-color: #f9cd11;
  text-align: center;
  width: 7em;
}
.bo-con{
  width: 100px;
  margin:auto;
}
.bo-con>label{
  color: #000;
  display: block;
}
.add-cheese{
  background-color: rgba(90, 90, 90, 0.7);
  text-align: center;
  height: 36px;
  min-width: 150px;
}

/* Extras 

.vt{background-image:url(http://i.imgur.com/SJbRQF7.png);}

a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:monospace; }
.tp-selector-2 input{ margin: 5px 0 0 12px; }
.tp-selector-2 label{ margin-left: 7px; }
span.tp{ color:#6d84b4 }
*/

.pmthumb {
                border-radius: 50%;
                overflow: hidden;
                width: 200px;
                height: 200px;
            }
.pmsize {

            }
.pmthumb img {
            display: block;
            min-width: 100%;
            min-height: 100%;
            }

.tpthumb {
            height: 36px;
            width: 60px;
            float: left;
            }
.tpthumb>img {
            display: block;
            width: auto;
            height: 100%;
            margin: auto;
            }
.tp-card-nvt>img {
                display: none;
            }
.tpname{

  line-height: 32px;
  min-width: 80px;
  margin: auto;
}
.tp-total{
  padding-right: 10px;
}
.vModal-body{
  min-height: 400px;
}